/* MegaNoticia */
.text-body{
  font-size: 1.5em;
}
.text-title{
  font-size: 2.2em;
}
@media only screen and (max-width: 600px) {
  .text-body{
    font-size: 1em;
  }
  .text-title{
    font-size: 1.7em;
  }
  .card-img{
    height: 450px;
  }
}
@media only screen and (max-width: 800px) {  
  .card-img{
    height: 500px;
  }
  .margin-top{
    margin-top: 12%;
  }
}
@media only screen and (max-width: 400px) {    
  .card-img{
    height: 400px;
  }
}
/* Footer */
.margin{
  padding: 5%;
}
.f-letra {
  color: white;
  font-size: 1.21em;
}
.f-letra:hover {
  color: rgb(0, 123, 138);
}
.aaa {
  text-decoration: none; /* no underline */
}
.aaa:hover {
  text-decoration: none; /* no underline */
}
@media only screen and (max-width: 600px) {
   .f-letra{
    font-size: 0.8em;
  }
}
/* MenuBar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.title {
  color: white;
  text-decoration: none;
  margin-left: 20%;
  margin-top: 5%;
}
.title:hover {
  text-decoration: none;
  color: blue;
}

header {
  width: 100%;
  height: 50px;
  background: #ffffff;
  position: fixed;
  z-index: 10;
}

.lnr-menu {
  font-size: 30px;
  position: relative;
  top: 10px;
  left: 10px;
  color: black;
  border: 1px solid transparent;
  transition: all 300ms;
  padding: 2px;
  cursor: pointer;
}

.lnr-menu:hover {
  border: 1px solid white;
}

.circulo {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  padding: 1.6%;
}

.circulo > h2 {
  font-family: sans-serif;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}
.hidename {
  visibility: hidden;
  text-decoration: none;
}
.hover {
  color: aqua;
  display: block;
}
/*MenuBar*/

.menu {
  width: 60px;
  height: 100vh;
  background: #7c7c7c;
  overflow: hidden;
  position: fixed;
  top: 50px;
  transition: all 300ms;
  z-index: 9;
  overflow: auto;
  opacity: 0.95;
}
.menu-Mobil {
  width: 60px;
  height: 100vh;
  background: #363636;
  overflow: hidden;
  position: fixed;
  top: 50px;
  transition: all 300ms;
  z-index: 9;
  overflow: auto;
}
.menu-show-mobil {
  width: 0px;
}
.menu-show {
  width: 240px;
}

.line {
  margin-top: 10px;
  padding: 10px;
  transition: all 300ms;
}

.line:hover {
  background: #188fe6;
  cursor: pointer;
}
.line label {
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.line font {
  margin-left: 40px;
  font-size: 18px;
  font-weight: 100;
  cursor: pointer;
}

/*Articulo*/

main {
  position: absolute;
  top: 50px;
  left: 60px;
  padding: 20px;
  transition: all 300ms;
}

.main-move {
  left: 240px;
}

article h1 {
  font-size: 40px;
}

article p {
  font-size: 20px;
  margin-top: 20px;
  font-weight: 100;
}
/* News */
.news-btn {
  margin-top: 20%;
}
@media only screen and (max-width: 600px) {
  .news-btn {
    margin-top: 60%;
  }
}
/* deckNews */
.news-img{
  width:200px;
  height:150px;
}
@media only screen and (max-width: 600px) {
   .news-img{
    width:50px;
    height:200px;
  }
}